version: "3"
services:
  web-api:
    # container_name: web-api
    ports:
      - 5000:80
      - 5001:80
    build: .
    depends_on:
      - db-sql-server
    links:
      - db-sql-server
  db-sql-server:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "Aa123456"
      ACCEPT_EULA: "Y"
    ports:
      - 1433:1433
# volumes:
# networks:
